

#cover {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 450px;
	background: url("cover img.png");
}

#cover-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#cover-text {
	width: 700px;
	transform: translateX(-100px);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: #fff;
	text-align: right;
	padding: 10px 0 10px 0;
}

#cover-text h1 {
	font-size: 50px;
}

#cover-text p {
	font-size: 25px;
	line-height: 50px;
}

#cover-text hr {
	width: 65%;
	height: 10px;
	margin: 25px 0 10px 0;
	background: #fff;
	border-radius: 15px;
}

#cover-img {
	width: 150px;
	height: 150px;
}

#function-define {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

#function-define h2{
    transform: translateX(350px);
    font-size: 38px;
    color: #855C5C;
}

#function {
    width: 50%;
    height: 65px;
    background-color: #000;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    filter: drop-shadow(0 2px 4px rgba(0,0,0, 15%));
    background-color: #F4F4F4;

}

#function button {
    border-radius: 10px;
    background-color: #F64B4B;
    width: 15%;
    height: 100%;
}


#function input {
    background-color: #F4F4F4;
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 28px;
    padding: 10px 15px;
    overflow: auto;
    font-weight: bold;
    color: #282828;
}

#function input:focus {
    outline: none;
    background-color: #F0F0F0;
}

#functions-type-btns {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 25px;

    grid-template-columns: 75px auto  75px;
}

#functions-btns {
    display: grid;
    grid-template-columns: repeat(6, 45px);
    grid-template-rows: repeat(5, 45px);
    gap: 20px;

}

.function-btns {
    background-color: #000;
    font-size:medium;
    border-radius: 10px;
    background-color: #F64B4B;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 150ms;
}

#show-btn {
    grid-column: span 3;
    background-color: #F64B4B;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all ease-in-out 150ms;
}

#show-btn:disabled {
    background-color: #a54242;
    color: #c5acac;

}

#show-btn:disabled:hover {
    background-color: #a54242;
    color: #c5acac;
    cursor: default;

}




#right-btn, #left-btn {
    height: 100%;
    background-color: #F64B4B;
    font-size: 24px;
    border-radius: 10px;
    transition: all ease-in-out 150ms;
}

#right-btn:hover, #left-btn:hover, .function-btns:hover,#show-btn:hover {
    cursor: pointer;
    background-color: #E62C2C;
}


#delete-icon {
    height: 30%;
    width: auto;
}

#function-canvas {
    width: 100%;
    height: 1250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background-color: #EFEBEB;
    display: none;
}


#canvas{
    background-color: #3b3939;
    border-radius: 10px;
    height: 80%;
    width: 75%;
}

#range {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
}

#guideline {
    text-align: center;
    font-size: 14px;
    grid-column: span 3;
    color: #282828;
    
}

#guideline a{
    text-decoration: underline;
    font-weight: 600;
    font-size: 14px;
    color: #282828;
}

.range-input{
	padding: 5px 15px;
	height: 45px;

	border-radius: 5px;
	background: transparent;
	font-weight: 500;
	transition: 0.15s ease-in-out;
	border: none;
	border-bottom: 1px solid #985FFD;
    text-align: right;

}

.range-input:focus{
	outline: none;
	background: #E1DBDB;
	border-bottom: 3px solid #985FFD;
}

#line-settings {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
}

.line-settings-input{
	padding: 5px 15px;
	height: 45px;

	border-radius: 5px;
	background: transparent;
	font-weight: 500;
	transition: 0.15s ease-in-out;
	border: none;
	border-bottom: 1px solid #985FFD;
    text-align: right;

}

.line-settings-input:focus{
	outline: none;
	background: #E1DBDB;
	border-bottom: 3px solid #985FFD;
}

#color-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#color-container label {
    color: #855C5C;
}

#info-popup {
    display: flex;
    position: fixed;
    bottom: -100%;
    left: 50%;
    background-color: #1a1a1a;
    width: 85%;
    margin-left: -40%;
    height: 100px;
    z-index: 20;
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    animation: pop-up-show 1.5s ease-in-out forwards;
    animation-play-state: paused;
}

@keyframes pop-up-show {
    0% {
        bottom: -100%;
    }

    33% {
        bottom: 30px;
    }

    66% {
        bottom: 10px;
    }

    100% {
        bottom: 10px;
    }
}

@keyframes pop-up-hide {
    0% {
        bottom: 10px;
    }

    33% {
        bottom: 30px;
    }

    66% {
        bottom: -100%;
    }

    100% {
        bottom: -100%;
    }
}


#info-popup img {
    width: 70px;
    height: 70px;
}

#info-popup img {
    width: 70px;
    height: 70px;
}

#info-popup p {
    font-size: 24px;
    color: #f29c1bff;
}

#info-popup hr {
    display: none;
}

#important {
    font-weight: bold;
}



#okay{
    font-size: 18px;
	padding: 8px 18px;
	border-radius: 5px;
	text-align: center;
	background: #F29C1B;
	color: #1a1a1a;
	cursor: pointer;
	transition: 0.125s all ease-in-out;
}

#okay:hover{
	background: #1a1a1a;
	color: #F29C1B;
	border: solid 2px #F29C1B;
}

#download {
    width: 70%;
    padding: 10px 18px;
    background-color: #4B5CF6;
    border-radius: 15px;
    display: none;
}

#reset {
    width: 70%;
    padding: 10px 18px;
    display: none;
    color: #4B5CF6;
    background-color: transparent;
    border-radius: 15px;
}

#derivatives {
    width: 20px;
    height: 20px;
}

#derivatives + label {
    font-size: x-large;
}

#derivatives-check {
    width: 20%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

#limit {
    width: 20px;
    height: 20px;
}

#limit + label {
    font-size: x-large;
}

#limit-check {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 
#Deriv{
    width: 30%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s ease-in-out all;
}

#lim{
    width: 90%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s ease-in-out all;
}

#lim-content {
    display: flex;
    width: 60%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#lim-content select{
    text-align: right;
	padding: 5px 15px;
	height: 35px;
	width: 150px;
	border-radius: 5px;
	background: #F7E5E4;
	font-weight: 500;
	transition: 0.15s ease-in-out;
	border: none;
	border-bottom: 1px solid #985FFD;

}

#lim-content select:focus{
	outline: none;
	background: #E1DBDB;
}

#lim input {
    padding: 5px 15px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background: transparent;
    font-weight: 500;
    transition: 0.15s ease-in-out;
    border: none;
    border-bottom: 1px solid #985FFD;
    text-align: right;
}

#lim input[disabled] {
    background: #E1DBDB;
	border-bottom: 3px solid #985FFD;
}


#lim input:focus{
	outline: none;
	background: #E1DBDB;
	border-bottom: 3px solid #985FFD;
}

#lim button{
	padding: 3px 10px;
    background-color: #7626ff;
    border-radius: 10px;
}

#lim button:hover {
    background-color: #5523ac;
    cursor: pointer;
}

#lim button:disabled {
    background-color: #311e53;
    color: #c5acac;
}

#lim button:disabled:hover {
    background-color: #311e53;
    color: #c5acac;
    cursor: default;

}

#Deriv-point {
	padding: 5px 15px;
	height: 45px;

	border-radius: 5px;
	background: transparent;
	font-weight: 500;
	transition: 0.15s ease-in-out;
	border: none;
	border-bottom: 1px solid #985FFD;
    text-align: right;

}

#Deriv-point:focus{
	outline: none;
	background: #E1DBDB;
	border-bottom: 3px solid #985FFD;
}

#Deriv-btn {
    font-size:medium;
    border-radius: 10px;
    background-color: #7626ff;
    padding: 8px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 150ms;
}

#Deriv-btn:hover {
    background-color: #5523ac;
    cursor: pointer;
}

#Deriv-btn:disabled {
    background-color: #311e53;
    color: #c5acac;
}

#Deriv-btn:disabled:hover {
    background-color: #311e53;
    color: #c5acac;
    cursor: default;

}

#lim-btn {
    font-size:medium;
    border-radius: 10px;
    background-color: #7626ff;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 150ms;
}

#lim-btn:hover {
    background-color: #5523ac;
    cursor: pointer;
}

#lim-btn:disabled {
    background-color: #311e53;
    color: #c5acac;
}

#lim-btn:disabled:hover {
    background-color: #311e53;
    color: #c5acac;
    cursor: default;

}

.op-1, .op-2, #lim-num {
    display: none;
}
@media (max-width: 600px) {

	#cover {
		height: 160px;
		background: url("cover_img_phone.png");
	}

	#cover-img {
    	width: 64px;
    	height: 64px;
	}

	#cover-text h1 {
    	font-size: 26px;
	}

	#cover-text p {
    	font-size: 12px;
    	line-height: 18px;
	}

	#cover-text hr {
	    width: 80%;
	    height: 5px;
	    margin: 10px 0 10px 0;
	}

	#cover-text {
    	width: 300px;
    	transform: translateX(-30px);
	}

    #function-define h2,#function-canvas h2{
        transform: translateX(75px);
        font-size: 32px;
    }
    
    #functions-btns {
        grid-template-columns: repeat(6, 30px);
        grid-template-rows: repeat(5, 30px);
        gap: 15px;
    }

    #functions-type-btns {
        gap: 15px;
        grid-template-columns: 30px auto 30px;
    }

    .function-btns {
        font-size: x-small;
    }

    #function {
        width: 90%;
        height: 40px;
    }

    #function input{
        font-size: medium;
    }
    
    #function-define {
        height: 600px;
    }

    #function-canvas {
        height: 685px;
    }

    #function-canvas #canvas {
        height: 100%;
        width: 50%;
    }

    #info-popup {
        padding: 20px;
        width: 85%;
        height: 275px;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
        transform: scale(0.85);
    }
    
    #info-popup img {
        width: 56px;
        height: 56px;
    }

    
    #info-popup p {
        font-size: 16px;
    }

    
    #okay{
        font-size: 16px;
        padding: 7px 16px;
    }

    .range-input {
        padding: 5px 0px;
    }

    #color-container label {
        font-size: small;
    }

    #show-btn {
        padding: 8px;
        font-size: medium;
    }

    #function button {
        font-size: medium;
    }

    #reset {
        font-size: large;
    }

    #download {
        font-size: medium;
        width: 55%;
    }

    #derivatives-check {
        width: 45%;
    }

    #derivatives + label {
        font-size: medium;
    }

    #derivatives {
        width: 15px;
        height: 15px;
    }

    #Deriv {
        width: 75%;
    }

    #Deriv-point {
        padding: 5px 15px;
        height: 40px;
        width: 50%;
    }

    #Deriv-btn {
        font-size: small;
    }

    #limit-check {
        width: 45%;
    }

    #limit + label {
        font-size: medium;
    }

    #limit {
        width: 15px;
        height: 15px;
    }

    #cover-text {
        width: 275px;
        transform: translateX(-16px);
    }

    
}


@media (max-width: 375px) {

	#download {
        font-size: small;
        width: 70%;
    }

    #Deriv {
        width: 100%;
    }

    #lim-content {
        flex-direction: column;
    }

    #lim {
        flex-direction: column-reverse;
    }

    #lim-content > *{
        margin-bottom: 10px;
    }

    #lim-content > *:is(:first-child){
        margin-top: 5px;
        font-size: small;
    }

    #lim button {
        padding: 4px 10px;
    }


}