section {
    display: flex;
}

#table-of-content {
    display: flex;
    width: 20%;
    background-color: rgb(41, 41, 41);
    border-left: #282828 2px solid;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 94px;
    height: 100vh;
    z-index: 8;
    padding: 25px;
    align-items: center;
}

#table-of-content * {
    color: #fff;
}


#table-of-content h3 {
    font-size: 22px;
    margin-bottom: 25px;
}

#table-of-content details {
    width: 100%;
    text-align: center;
    
}

#table-of-content .father:not(:first-of-type) {
    margin-top: 10px;
    
}


#table-of-content details[open] > summary::after {
    rotate: 45deg;
    right: 15px;

}



#table-of-content details > summary a {
    font-size: 14px;
    font-weight: normal;

}



#table-of-content .father[open] > .son summary::after,  #table-of-content .father > .son[open] .grand-son summary::after{
    rotate: 0deg;
}

#table-of-content .father > .son[open] summary::after {
    rotate: 45deg;
}

#table-of-content .father[open] > .son summary {
    background-color: #323232;
}

#table-of-content .father > .son[open] > .grand-son summary {
    background-color: #404040;
}


#table-of-content .father > .son .grand-son[open] summary::after {
    rotate: 45deg;
}

#table-of-content .father[open] .no-x::after {
    rotate: 0deg;
    right: 10px;
}

#table-of-content .father .son[open] .no-x::after {
    rotate: 0deg;
    right: 10px;
}

#table-of-content .father .son .grand-son[open] .no-x::after {
    rotate: 0deg;
    right: 10px;
}


#table-of-content  details > summary {
    outline: none;
    cursor: pointer;
    position: relative;
    list-style: none;
    padding: 10px 10px;
    border: #fff 1px solid;
}

#table-of-content .son > summary, #table-of-content .grand-son > summary {
    border: #fff 1px solid;
    border-top: none;
}

details > summary::marker {
    display: none;
}

summary::after {
    content: '+';
    position: absolute;
    font-size: 18px;
    
    top: 8px;
    right: 10px;
    bottom: 0;
    margin: auto;
}

#content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#content a {
    color: #282828;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

#pos {
    width: 100%;
    height: 60px;
    background-color: #282828;
    display: flex;
}

#text-content > * {
    color: #282828;
}

#text-content {
    width: 80%;
    padding:3rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: right;
}

#text-content img{
    align-self: center;
}

#title {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 15px;
}

h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 1.6em;
}

header {
    position: fixed;
    top: 0;
}

hr {
    width: 100%;
    color: #282828;
    background-color: #282828;
    height: 1px;
    margin-bottom: 30px;
}

.img-txt {
    display: flex;
}

img:not(#logo){
    width: 70%;
    border: 1px #282828 solid;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 25px;
}


h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.catalog {
    align-self: center;
    display: grid;
    grid-template-columns: 270px 480px;
    grid-template-rows: 75px repeat(5, 125px);
    border-radius: 15px;
    border: #282828 2px solid;
    overflow: hidden;
    margin-bottom: 20px;

}

.even {
    border-right: #282828 2px solid;
    font-weight: bold;
}

.catalog-item {
    border-bottom: #282828 2px solid;
    display: flex;
    justify-content: center;
    text-align: right;
    padding: 10px 15px;
    align-items: center;
    
}

.catalog-item > *{
    margin: 0;
    margin-bottom: 0;
}

.header {
    color: #fff;
    background-color: #282828;
}

#text-content details > summary {
    outline: none;
    cursor: pointer;
    position: relative;
    list-style: none;
    padding: 15px 10px;
    border: #282828 1px solid;
    border-radius: 5px;
    font-weight: bold;
}

#text-content details:not(:last-child) > summary {
    border-bottom: none;
}

#text-content details {
    width: 100%;
    text-align: center;
}

#text-content details[open] > summary::after {
    rotate: 45deg;
    right: 15px;

}

#text-content details > summary + p {
    border:#282828 1px solid;
    padding: 10px;
    font-size: small;

}

#text-content details:is(:last-child) > summary + p {
    border-top: none;

}

#custom-1 {
    grid-template-rows: 75px repeat(3, 125px);
}

#custom-0 {
    grid-template-rows: 75px repeat(3, 125px);
}

@media (max-width: 600px) {
    .catalog-item {
        padding: 0;
        text-align: center;
    }
    .catalog-item h3 {
        line-height: 1.6em;
        font-size: 10px;
    }
    

    .catalog {
        grid-template-columns: 72px 128px;
        grid-template-rows: 40px repeat(5, 72px);
        border-radius: 5px;
    }

    h3 {
        font-size: 12px;
    }

    p {
        font-size: 8px;
    }

    #content {
        width: 70%;
    }

    h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #title {
        font-size: 20px;
        margin-bottom: 15px;
    }


    #table-of-content {
        width: 30%;
        padding: 15px 10px;
        top: 35px;
    }

    #text-content {
        width: 100%;
        padding: 2rem 1rem 1rem;
        
    
    }
    #custom-1 {
        grid-template-rows: 40px repeat(3, 72px);
    }

    #custom-0 {
        grid-template-rows: 40px repeat(3, 72px);
    }

    #content a {
        font-size: 8px;
    }

    #table-of-content h3 {
        font-size: 10px;
    }

    #table-of-content details > summary {
        padding: 0px 0px 5px;
    }

    #table-of-content summary::after {
        content: '+';
        font-size: 6px;
        top: 8px;
        right: 5px;
        bottom: 0;
    }

    #table-of-content details > summary a {
        font-size: 6px;
    }
    
    #text-content details > summary {
        padding: 15px 0px;
        font-size: x-small;
    }
    #text-content details > summary + p {
        font-size: xx-small;
    }

    #table-of-content .father:not(:first-of-type) {
        margin-top: 10px;
        
    }
    
    
    #table-of-content details[open] > summary::after {
        rotate: 45deg;
        right: 8px;
    
    }
    
    
    #table-of-content .father[open] > .son summary::after,  #table-of-content .father > .son[open] .grand-son summary::after{
        rotate: 0deg;
    }
    
    #table-of-content .father > .son[open] summary::after {
        rotate: 45deg;
    }
    
    #table-of-content .father[open] > .son summary {
        background-color: #323232;
    }
    
    #table-of-content .father > .son[open] > .grand-son summary {
        background-color: #404040;
    }
    
    
    #table-of-content .father > .son .grand-son[open] summary::after {
        rotate: 45deg;
    }
    
    #table-of-content .father[open] .no-x::after {
        rotate: 0deg;
        right: 5px;
    }
    
    #table-of-content .father .son[open] .no-x::after {
        rotate: 0deg;
        right: 10px;
    }
    
    #table-of-content .father .son .grand-son[open] .no-x::after {
        rotate: 0deg;
        right: 10px;
    }
    
}